startup_commands toggle_custom_color;

# === NORD === #
background_color           #2f333e

text_highlight_color       #cfd2e2
visual_mark_color          #77c1e3

search_highlight_color     #77c1e3
link_highlight_color       #6e93b3
synctex_highlight_color    #93b66c

highlight_color_a          #8FBCBB
highlight_color_b          #88C0D0
highlight_color_c          #BF616A
highlight_color_d          #D08770
highlight_color_e          #EBCB8B
highlight_color_f          #A3BE8C
highlight_color_g          #B48EAD

custom_background_color    #2f333e
custom_text_color          #cfd2e2

ui_text_color              #cfd2e2
ui_background_color        #3e4451
ui_selected_text_color     #cfd2e2
ui_selected_background_color #6e93b3
